body{
    background: #424242;
    
}

.Explicação {
	background: #151515;
}


h1{
	color: #AB7B00;
    font-size: 60px;
    padding-left: 35px;
	
}

#foto{
	width: 80%;
	display: block;
    margin-left: auto;
    margin-right: auto
}


p {
    font-size: 30px;
    color: #A08C22;
}

h2 {
	color: #AB7B00;
    font-size: 60px;
    text-align: center,
	border: 10px solid black;
	margin-right: 350px;
	margin-left:  350px;
	padding: 20px;
}


ul{
	display: inline-block;
	vertical-align: top;
	
}

#foto2 {
	width: 40%;
}

.itens {
	
	color: #A08C22;
	font-size: 30px;
	font-style: italic;
}

.Listagem {
	background: #151515;
}